/* ============== COMMON STYLES ============== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: 0px solid transparent;
}

img {
  display: block;
}

button {
  cursor: pointer;
  outline: 0px solid transparent;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.acent-color {
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== /COMMON STYLES ============== */

.container {
  max-width: 288px;
  padding: 0 0px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

/* ============== MOBILE STYLES ============== */

.hero {
  max-width: 767px;
  height: 432px;
  display: block;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  text-align: center;
  max-width: 320px;
  padding: 0;
}

.hero-title {
  max-width: 150px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-item-img {
  display: none;
}

.features-list {
  padding: 96px 0;
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-item-subtitle {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container.mobile {
  padding: 0;
  margin: auto;
}

.header-navigation {
  display: flex;
}

.header-menu-list {
  display: none;
}

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-item-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  margin-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.portfolio-item {
  border: 1px solid #f4f4fd;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 360px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  padding-top: 96px;
}

.portfolio-bottom-card {
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-item-img {
  width: 288px;
  height: 280px;
}

.portfolio-cover-text {
  display: none;
}

.portfolio-item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  color: #f4f4fd;
  text-align: center;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 72px; */
}

.footer-logo-link {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.footer-text {
  text-align: left;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-top: 16px;
}

.footer-social-subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.subscribe-wraper {
  margin-top: 72px;
}

.subscribe-wraper-form-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-wraper-form-input {
  margin-bottom: 16px;
  margin-top: 16px;
}

.subscribe-wraper-form-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 16px; */
}

.subscribe-wraper-form-input {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: 0px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.subscribe-wraper-form-input::placeholder {
  color: #ffffff;
}

.subscribe-wraper-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  outline: 0px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn-icon {
  fill: white;
  margin-left: 16px;
}

@media screen and (min-width: 320px) {
  overflow-x: hidden;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-icon {
  fill: #f4f4fd;
}

/* <768 */

@media screen and (min-width: 768px) {
  .current {
    position: relative;
    color: #404bbf;
  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link:active {
    color: #404bbf;
  }

  .header-menu-item {
    display: block;
    position: relative;
  }

  .current::after {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .address {
    display: none;
  }
}

.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-wraper {
  margin-top: 0;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #111111;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0%);
}

.mobile-menu-container {
  width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-menu-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn {
  position: absolute;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  line-height: 0;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  padding: 72px 24px 24px 16px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: auto;
}

.mobile-menu-social-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-social-list-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*============= BACKDROP SECTION =============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  /*transition: opacity 250ms linear, visibility 250ms linear;*/
}
/*============= BACKDROP SECTION =============*/

/*============= MOBILE MENU SECTION =============*/

.modal {
  position: absolute;
  width: 288px;
  height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  line-height: 0;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.contacts-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contacts-form-wraper {
  margin-bottom: 8px;
}

.contacts-form-input-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.contacts-form-input-wraper {
  position: relative;
}

.contacts-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 0px solid transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:focus {
  border-color: #4d5ae5;
}

.contacts-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:focus + .contacts-form-input-icon {
  fill: #4d5ae5;
}

.contacts-form-comment-wraper {
  margin-bottom: 16px;
}

.contacts-form-input-comment {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  resize: none;
  min-height: 120px;
  outline: 0px solid transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contacts-form-input-comment:focus {
  border-color: #4d5ae5;
}

.contacts-form-checkbox-wraper {
  margin-bottom: 24px;
}

.contacts-form-checkbox {
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contacts-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  stroke-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.contacts-form-checkbox:checked
  + .contacts-form-checkbox-label
  > .contacts-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.contacts-form-checkbox:focus
  + .contacts-form-checkbox-label
  > .contacts-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.contacts-form-own-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.contacts-form-checkbox:checked
  + .contacts-form-checkbox-label
  .contacts-form-own-checkbox-icon {
  opacity: 1;
}

.accent-href {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  outline: 0px solid transparent;
}

.contacts-form-btn {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  outline: 0px solid transparent;
  border: navajowhite;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-btn:focus,
.contacts-form-btn:active {
  background: #404bbf;
  border: none;
}

/* ============== /MOBILE STYLES ============== */

/* ============== TABLET STYLES ============== */

/* >=768 */

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .address {
    display: flex;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .header-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-navigation {
    max-width: 1157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-list {
    display: inline-flex;
    column-gap: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-menu-link {
    display: block;
    transition: color 250ms linear;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    font-size: 12px;
  }

  .hero {
    max-width: 1157px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    padding: 122px 0;
  }

  .hero-container {
    max-width: 736px;
  }

  .hero-button {
    margin-top: 36px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    flex-direction: row;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    flex-direction: row;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    flex-direction: row;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item-img {
    width: 356px;
    height: 300px;
  }

  .footer {
    text-align: left;
  }
  .footer-wrap {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: first baseline;
    /* gap: 72px 24px; */
  }

  .footer-social-wrap {
    display: block;
    margin-bottom: 72px;
    margin-left: 24px;
  }

  .footer-text {
    max-width: 264px;
  }

  .subscribe-wraper-form {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x.jpg);
  }
}

/* ============== TABLET STYLES ============== */

/* ============== DESKTOP STYLES ============== */

/* >=1158 */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    padding-left: 0;
    padding-right: 0;
  }

  .header-contacts-link {
    font-size: 16px;
  }

  .hero {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.jpg);
    padding: 188px 0;
  }

  .hero-container {
    max-width: 1140px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-button {
    margin-top: 48px;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    width: 1440px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .features-item-img {
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .features-item-icon {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 64px;
    height: 64px;
    flex-shrink: 0;
  }

  .features-item-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .features-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
  }

  .features-item-text:last-child {
    margin-right: none;
  }

  .team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
  }

  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
  }

  .portfolio-item-img {
    width: 360px;
    height: 300px;
  }

  .portfolio-item-text {
    display: flex;
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
  }

  .portfolio-cover-text {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .add-shaddow {
    position: relative;
  }

  .add-shaddow:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item-wrap {
    position: relative;
    overflow: hidden;
  }

  .footer-social-subtitle {
    text-align: left;
  }

  .footer-social-wrap {
    display: block;
    margin-bottom: 72px;
    margin-left: 120px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-wrap {
    flex-wrap: nowrap;
  }

  .subscribe-wraper-form-title {
    text-align: left;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-desktop@2x.jpg);
}

/* ============== /DESKTOP STYLES ============== */

/* ============== HERO STYLES ============== */
/* ============== /HERO STYLES ============== */
/* ============== FEATURES STYLES ============== */
/* ============== /FEATURES STYLES ============== */
/* ============== TEAM STYLES ============== */
/* ============== /TEAM STYLES ============== */
/* ============== PORTFOLIO STYLES ============== */
/* ============== /PORTFOLIO STYLES ============== */
/* ============== FOOTER STYLES ============== */
/* ============== /FOOTER STYLES ============== */
/* ============== BACKDROP STYLES ============== */
/* ============== /BACKDROP STYLES ============== */
/* ============== MODAL WINDOW STYLES ============== */
/* ============== /MODAL WINDOW STYLES ============== */
